.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
  min-width: 430px;
}

.App-title {
  font-size: 2em;
}

body {
    text-align: center;
}

/* ALL of the webpage execpt the pyqmix-version number */
.entire-pump-form {
    background-color: white;
    width: 100%;
    max-width: 770px;
    min-width: 430px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Area above entire-input-form */
.button-group {
  padding: 7px 0 7px 0;
}

/* Web-page except buttons at the top */
.entire-input-form {
    padding: 15px 10px 10px 10px;
    /*display: table;*/
}

/* Each individual pump operation option */
.input-form {
  border: 2px solid black;
  padding: 1px 1px 1px 1px;
}

/* This is the individual options _within_ each pump operation option */
.input-subform {
  padding: 5px 2px 5px 2px;
}

/* The leftmost input-subforms. The ones that have buttons */
.button-subform {
    text-align: left;
    padding: 5px 5px 5px 0;
}

/* The build applies negative margins to the row element */
.row {
    margin: 0 0 0 0;
}

/* Space between input field and button */
@media only screen and (min-width:575px) {
    .button-subform {
        text-align: right;
        padding: 5px 5px 5px 0;
    }
}

.text-modal {
    white-space: pre-line;
}

.form-control {
    padding-left: 4px;
}

.outro {
    text-align: right;
    color: lightslategrey;
    font-size: 11px;
    padding: 0 11px 0 0;
}
